jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
notebook
np-utils
numpy
opencv-python
pandas
Pillow
PyWavelets
scikit-learn
scipy
seaborn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-datasets
tensorflow-estimator
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
zipp
anvil-uplink